.App {
  text-align: center;
  
}

.Ind {
  cursor: pointer;
}

.Sco{
  cursor: pointer;
}

.ques{
  cursor: pointer;
}

.opt{
  cursor: pointer;
}

.question-card {
  margin: 0 auto;
  background-color: grey;
  padding: 15px;
  border-radius: 15px;
  color: whitesmoke;
  width: 80%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  
}

ul{
  list-style: none;
}

li{
  background-color: darkgray;
  padding: 15px;
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 8px;
  font-size: 20px;
}

.question-text{
  color:rgb(30, 30, 182);
  font-size: 25px;
  cursor: pointer;
}

.final-results{
  margin: 0 auto;
  background-color: grey;
  padding: 15px;
  border-radius: 15px;
  color: whitesmoke;
  width: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

button{
  background-color: aqua;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 33px;
  margin-top: 5px;
}